/* Importing Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'SF Pro Display', sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    background-image: url("img/back.jpg");
    background-position: center;
    background-size: cover;
    padding: 50px 75px;
    font-family: 'SF Pro Display', sans-serif;
}

.main {
    height: 100%;
    color: #fff;
    background: rgba(255, 255, 255, 0.03);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 60px;
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    margin: 0;
}


.sidebar {
    position: relative;
    left: 0;
    top: -15px;
    width: 90px;
    height: 60%;
    display: flex;
    align-items: center;
    border-radius: 40px;
    flex-direction: column;
    transition: width 0.3s ease;
    background: rgba(255, 255, 255, 0.08);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.2);
}



.sidebar .logo {
    color: #000;
    display: flex;
    align-items: center;
    padding: 25px 10px 15px;
}

.logo img {
    width: 50px;
    border-radius: 50%;
}

.logo h2 {
    font-size: 1.15rem;
    font-weight: 600;
    margin-left: 15px;
    display: none;
}



.sidebar .links {
    list-style: none;
    margin-top: 20px;
    overflow-y: auto;
    scrollbar-width: none;
    height: calc(100% - 140px);
    padding: 0;
}

.sidebar .links::-webkit-scrollbar {
    display: none;
}

.links li {
    display: flex;
    border-radius: 20px;
    align-items: center;
    transition: all ease-in-out 0.15s;
    width: 100%;
}

.links li:hover {
    cursor: pointer;
    border-radius: 20px;
    background-color: #969A9C;
    padding: 0;
}

.active {
    background-color: #969A9C;
}

.links h4 {
    color: #222;
    font-weight: 500;
    display: none;
    margin-bottom: 10px;
}


.links hr {
    margin: 10px 8px;
    border: 1px solid #4c4c4c;
}



.links li span {
    padding: 12px 12px;
}

.links li a {
    padding: 10px;
    color: #000;
    display: none;
    font-weight: 500;
    white-space: nowrap;
    text-decoration: none;
}


.links .logout-link {
    margin-top: 20px;
}

.rrr {
    height: 100%;
    width: 100%;
    margin-left: 19px;
    margin-right: 0;
    padding: 0;
    border-radius: 40px;
}

.topbar1 {
    height: 60px;
    padding: 0;
    margin: 0;
    border-radius: 40px;
    transform: translateX(-100px);
    display: flex;
    align-items: center;
}

.topbar2 {
    height: 60px;
    padding: 0;
    margin: 0;
    border-radius: 40px;
    display: flex;
}

.searchbar {
    height: 100%;
    width: 100%;
    border-radius: 40px 0 0 40px;
    padding-left: 20px;
    outline: none;
    background: rgba(255, 255, 255, 0.08);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.2);
    display: inline;
    border-right: none;
    font-size: 20px;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: rgba(255, 255, 255, 0.8);
}

::placeholder {
    /* Most modern browsers support this now. */
    color: rgba(255, 255, 255, 0.8);
}

.searchbtn {
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 0 40px 40px 0;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    display: inline;
    background-color: #253037;
    padding: 0;
    color: #fff;
    transition: 0.25s ease-in-out;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-left: none;
}

.searchbtn:hover {
    background-color: #505B62;
}

.dp {
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 40px;
    margin-left: 8px;
}

.displayname {
    font-size: 30px;
    margin: 0;
    margin-left: 15px;
}

.mainarea {
    margin: 0;
    padding: 0;
    height: calc(100% - 60px);
    border-radius: 40px;
    padding-top: 20px;
}

.mainarea1 {
    margin: 0;
    padding: 0;
    height: 25%;
    border-radius: 40px;
    list-style: none;
    display: flex;
    overflow-x: scroll;
}

.mainarea1::-webkit-scrollbar{
    height: 0;
}

.mainarea1 li{
    height: 100%;
    padding: 0;
    margin: 0;
    background: rgba(255, 255, 255, 0.08);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    color: rgba(255, 255, 255, 0.8);
    border-radius: 40px;
    display: inline-block;
    border: 1px solid rgba(255, 255, 255, 0.2);
    margin-right: 20px;
    width: calc(100%/5);
}

.mainarea1 li:last-child{
    margin-right: 0px;
}

.plTitle{
    color: red;
    z-index: 3;
}
.mainarea2 {
    margin: 0;
    padding: 0;
    height: 75%;
    border-radius: 40px;
    padding-top: 20px;
}

.mainarea3 {
    margin: 0;
    padding: 0;
    height: 75%;
    border-radius: 40px;
    padding-left: 20px;
    padding-top: 20px;
}

.player {
    margin: 0;
    padding: 0px;
    padding-bottom: 0;
    height: 100%;
    background: rgba(255, 255, 255, 0.08);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    
}

.player .player-inner{
    padding: 20px;
    margin: 0;
    height: 100%;
    border-radius: 40px 40px 0 0 ;
}

.list {
    margin: 0;
    padding: 0;
    height: 100%;
    background: rgba(255, 255, 255, 0.08);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
}

.albumart {
    width: 100%;
    border-radius: 20px;
    aspect-ratio:16/9;
    object-fit:cover;
}

.song {
    margin-top: 20px;
    text-align: center;
    font-size: 25px;
}

.artist {
    text-align: center;
    font-size: 15px;
}

.seekslider {
    -webkit-appearance: none;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0;
    padding: 0;
    width: 100%;
    height: 0.75rem;
    border-radius: 1rem;
    overflow: hidden;
}

.seekslider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 0;
    box-shadow: -20rem 0 0 20rem #253037;
}

.seekslider::-moz-range-thumb {
    border: none;
    width: 0;
    box-shadow: -20rem 0 0 20rem #253037;
}

.time {
    height: 15px;
    padding: 0px;
}

.start {
    font-size: 13px;
    display: inline;
    margin-left: 5px;
}

.end {
    font-size: 13px;
    float: right;
    display: inline;
    margin-right: 5px;
}

.controls {
    height: 80px;
    width: fit-content;
    padding: 0px;
    padding-top: 20px;
}

.play {
    height: 100%;
    aspect-ratio: 1/1;
    border: none;
    outline: none;
    border-radius: 50%;
    display: inline;
    margin-left: 40px;
    margin-right: 40px;
    transition: 0.25s ease-in-out;
}

.play:hover {
    background-color: #253037;
    color: #fff;
}

.play:active{
    transform: scale(0.8);
}

.prev {
    height: 75%;
    aspect-ratio: 1/1;
    border: none;
    outline: none;
    border-radius: 50%;
    display: inline;
    background-color: transparent;
    color: #fff;
    transition: 0.25s ease-in-out;
}

.prev:hover {
    background-color: #253037;
}

.prev:active{
    transform: scale(0.8);
}

.next {
    height: 75%;
    aspect-ratio: 1/1;
    border: none;
    outline: none;
    border-radius: 50%;
    display: inline;
    background-color: transparent;
    color: #fff;
    transition: 0.25s ease-in-out;
}

.next:hover {
    background-color: #253037;
}

.next:active{
    transform: scale(0.8);
}

.songlist{
    height: 100%;
    border-radius: 40px;
    width: 100%;
    padding: 0;
    margin: 0;
}

.playlistList{
    height: 100%;
    border-radius: 40px 0 0 40px;
    padding: 0;
    margin: 0;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    overflow-y: scroll;
}
.playlistList::-webkit-scrollbar {
  width: 0px;
}



.playlistList li{
    list-style: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    height: 50px;
    padding-left: 13px;
    display: flex;
    align-items: center;
    transition: 0.25s ease-in-out;
}

.playlistList a:first-child{
    border-radius: 30px 0 0 0;  
}
a{
    text-decoration: none;
    color: #fff;
}
.playlistList a li:hover{
    background-color: #fff;
    color: #222;
}

.playlistitem{
    height: 100%;
    border-radius: 0 40px 40px 0;
    padding: 0;
    margin: 0;
    overflow-y: scroll;
}
.playlistitem::-webkit-scrollbar {
  width: 0px;
}

.playlistitem li{
    list-style: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    height: 75px;
    padding-left: 13px;
    display: flex;
    padding: 10px; 
    transition: 0.25s ease-in-out;
    margin: 0;
}

 .playlistitem .sdm{
    background: transparent;
    outline: none;
    border: none;
    margin: 0;
    color: #fff;
    width: 100%;
 }

.title{
    padding: 0;
    display: block;
    margin: 0;
    font-size: large;
}
.artist1{
    display: block;
    padding: 0;
    margin: 0;
    color: lightgray;
    font-size: smaller;
    float:left;
}

.playlistitem li:hover{
    background-color: #fff;
    color: #222;
}
.aart{
    height: 100%;
    aspect-ratio: 1/1;
    margin-right: 20px;
    border-radius: 20px;
    object-fit: cover;
}
.con{
    height: 100%;
    padding: 0;
    padding-top: 3px;
    margin: 0;
}



.btm-layer{
    height: 50px;
    background-color: chartreuse;
    border-radius: 0 0 40px 40px;
    margin: 0;
    padding: 0;
}


.btm-layer1{
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
}


.btm-layer1 li{
    list-style: none;
    display: inline-block;
    height: 100%;
    width: 100%;
}
.btm-layer1 li button{
    margin: 0;
    outline: none;
    border: none;
    height: 100%;
    width: 100%;
}
#playerX{
    border-radius:0 0 0 40px;
}

#lyricsX{
    border-radius:0 0 40px 0;
}

#queueX{
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
}
.active{
    background-color: #253037;
    color: #fff;

}

.volume {
  -webkit-appearance: none;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0;
  padding: 0;
  width: 100%;
  height: 30px;
  margin-top:25px;
  border-radius: 20px;
  overflow: hidden;
  border:none;
  outline:none;
}

.volume::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 0;
  box-shadow: -20rem 0 0 20rem rgba(255, 255, 255, 0.2);
}
.volume::-moz-range-thumb {
  border: none;
  width: 0;
  box-shadow: -20rem 0 0 20rem rgba(255, 255, 255, 0.2);
}






